In [ ]:

result_str="";    
for row in range(0,7):    
    for column in range(0,7):     
        if (((column == 1 or column == 5) and row != 0) or ((row == 0 or row == 3) and (column > 1 and column < 5))):    
            result_str=result_str+"*"    
        else:      
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str);

  ***
 *   *
 *   *
 *****
 *   *
 *   *
 *   *

In [ ]:
result_str="";    
for Row in range(0,7):    
    for Col in range(0,7):     
        if (Col == 1 or ((Row == 0 or Row == 3 or Row == 6) and (Col < 5 and Col > 1)) or (Col == 5 and (Row != 0 and Row != 3 and Row != 6))) :  
            result_str=result_str+"*"    
        else:      
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str);

 ****
 *   *
 *   *
 ****
 *   *
 *   *
 ****

In [ ]:
result_str="";    
for Row in range(0,7):    
    for Col in range(0,7):     
        if ((Col == 1 and (Row != 0 and Row != 6)) or ((Row == 0 or Row == 6) and (Col > 1 and Col < 5)) or (Col == 5 and (Row == 1 or Row == 5))):  
            result_str=result_str+"*"    
        else:      
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str);

  ***
 *   *
 *
 *
 *
 *   *
  ***

In [ ]:
result_str="";    
for row in range(0,7):    
    for column in range(0,7):     
        if (column == 1 or ((row == 0 or row == 6) and (column > 1 and column < 5)) or (column == 5 and row != 0 and row != 6)):  
            result_str=result_str+"*"    
        else:      
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str);

 ****
 *   *
 *   *
 *   *
 *   *
 *   *
 ****

In [ ]:
result_str="";    
for row in range(0,7):    
    for column in range(0,7):     
        if (column == 1 or ((row == 0 or row == 6) and (column > 1 and column < 6)) or (row == 3 and column > 1 and column < 5)):  
            result_str=result_str+"*"    
        else:      
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str);

 *****
 *
 *
 ****
 *
 *
 *****

In [ ]:
result_str="";   
for row in range(0,7):   
   for column in range(0,7):    
       if (column == 1 or ((row == 0 ) and (column > 1 and column < 6 )) or (row == 3 and column > 1 and column < 5)): 
           result_str=result_str+"*"   
       else:     
           result_str=result_str+" "   
   result_str=result_str+"\n"   
print(result_str);

 *****
 *
 *
 ****
 *
 *
 *

In [ ]:
result_str="";    
for row in range(0,7):    
    for column in range(0,7):     
        if ((column == 1 and row != 0 and row != 6) or ((row == 0 or row == 6) and column > 1 and column < 5) or (row == 3 and column > 2 and column < 6) or (column == 5 and row != 0 and row != 2 and row != 6)):  
            result_str=result_str+"*"    
        else:      
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str);

  ***
 *   *
 *
 * ***
 *   *
 *   *
  ***

In [ ]:
result_str="";    
for Row in range(0,7):    
    for Col in range(0,7):     
        if ((Col == 1 or Col == 5) or (Row == 3 and Col > 1 and Col < 6)):  
            result_str=result_str+"*"    
        else:      
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str);

 *   *
 *   *
 *   *
 *****
 *   *
 *   *
 *   *

In [ ]:

for row in range(7):
   for col in range(5):
       if col == 2 or ((row == 0 or row == 6) and col != 2):
           print("*",end="")
       else:
           print(end=" ")
   print()

*****
  *
  *
  *
  *
  *
*****

In [ ]:
result_str="";    
for Row in range(0,7):    
    for Col in range(0,7):     
        if ((Col == 4 and Row != 6) or (Row == 0 and Col > 2 and Col < 6) or (Row == 6 and Col == 3) or (Row == 5 and Col == 2)):  
            result_str=result_str+"*"    
        else:      
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str);

   ***
    *
    *
    *
    *
  * *
   *